$btn-color: #4ebce4;
$btn-danger: #ef3877;
$btn-danger-hover: #955385;
$secondary-color: #green;
$link: #4ebce4;
$link-hover: #689bcf;
$text-color: #c17f94;
$dark-text: #2f76bd;
$info: #7e2d6a;

body {
  align-content: center;
  color: $text-color;
  min-height: 50vh;
  text-align: center;
  padding: 1rem;
  font-family: 'Questrial', sans-serif;
  padding: 0;
}

h3 {
  line-height: 1rem;
  margin-bottom: 1rem;
  color: $link;
}

h6 {
  font-weight: 700;
  line-height: 1rem;
  padding-top: 1rem;
}

header {
  background: white url("public/images/bg-purple.jpg") no-repeat fixed center;
  background-size: cover;
  height: 16vh;
  transition: 2s;
  h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3em;
    padding: 4vh;
  }
}

li {
  text-decoration: none;
}

main {
  @include make-container;
  @include make-container-max-widths;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: $white;
    border: 1px solid;
    cursor: pointer;
    margin-right: -1px;
    margin-bottom: -1px;
    position: relative;
    outline: none;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }

  }

  .content {
    @include make-row;

    &:empty {
      &::before {
        color: lighten($dark-text, 25%);
        content: 'Click "Get Events" to See All Upcoming Events';
        font-size: 5vh;
        line-height: .85;
        text-align: center;
        width: 100%;
      }
    }
  }
}

fieldset {
  text-align: center;
  margin: 0 auto;
  max-width: 70%;
  padding: 1rem;
}

input, select {
  border: 1px solid white;
  border-radius: 0;
  display: block;
  margin: .2em auto;
  min-width: 30vh;
  max-width: 100%;
}

nav {
  align-content: center;
  margin: 0 auto;
  max-width: 80vh;
  padding: 1rem;
  .app-name {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .nav-buttons {
    text-align: center;
  }
}

.card, .btn, .form-control { border-radius: 0; }

.btn-primary {
  background-color: $btn-color;
  border: $btn-color;
  &:hover {
    background-color: $text-color;
  }
  &:active {
    text-decoration: none;
  }
  margin: 1rem;
}

.btn-outline-info {
  border: $text-color solid 1px;
  color: $text-color;
  &:hover {
    background-color: $text-color;
    border: $text-color solid 1px;
  }
}

.btn-danger {
  background-color: $btn-danger;
  border: $btn-danger solid 1px;
  &:hover {
    background-color: $btn-danger-hover;
    border: $btn-danger-hover solid 1px;
  }
}

#events-message {
  padding: .2rem;
}

// input[type=submit], input[type=button] {
//   background-color: #000000;
//   border: 2px solid red;
//   border-radius: 6px;
//   color: white;
//   display: block;
//   margin: .2em auto;
//   padding: .3em;
//   transition: all .5s;
//   width: 30%;
//   &:hover {
//     background-color: #ffffff;
//   }
// }

.auth-forms {
  align-content: center;
  margin: 0 auto;
  max-width: 50vh;
  text-align: center;
  padding: 1rem;
  legend {
    margin: 0 auto;
  }
}

.event-input {
  min-width: 80vh;
}

#new-user, #old-user {
  color: $link;
  transition: 1s;
  &:hover {
    color: $link-hover;
    cursor: pointer;
  }
}

#timepicker:before {
content:'Time';
margin-right: .6em;
color: #9d9d9d;
}

#datepicker:before {
content:'Date';
margin-right: .6em;
color: #9d9d9d;
}

.column {
  float: left;
}

.left {
  background-image: linear-gradient(to bottom, rgba(255,242,211,0), rgba(255,242,211,0.7));
  border-right: white solid;
  min-height: 85vh;
  padding: 1rem;
  width: 25%;
}

.right {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(211,252,255,0.7));
  padding: 2rem;
  width: 75%;
  p {
    line-height: 1rem;
  }
}

.row {
  background: lightblue url("public/images/bg-white.jpg") no-repeat fixed center;
  background-size: cover;
  border-top: white solid;
}

// .edit-event-buttons {
//   position: absolute;
//   bottom: 10px;
//   left: 5vh;
// }
